#  For Loops 

-  For loops allow you to peform tasks over and over again.  
-  The syntax is a bit different then in other languages such as C++
-  Ranged-based 

The basic syntax is 

for x in L:

    (Some Indented Code)

In [1]:
#Ex1
for i in [1,2,3,4,5]:
    
    print(i)

1
2
3
4
5

__Important__: 

1) the body of the for loop must be indented
2) there is a colon at the start of the loop

In [3]:
#Ex2 - Compute 0+1+2+3+4+5
sum=0
L=[0,1,2,3,4,5]

for i in L:
    print(i,sum)
    sum+=i
    
print("Answer=", sum)

0 0
1 0
2 1
3 3
4 6
5 10
Answer= 15

We can also use range(6) instead of [0,1,2,3,4,5]

In [4]:
sum=0

for i in range(6):
    print(i,sum)
    sum+=i
    
print("Answer=", sum)

0 0
1 0
2 1
3 3
4 6
5 10
Answer= 15

range(6) looks similar to [0,1,2,3,4,5], but its actually a range-type

In [6]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [7]:
type(range(6))

range

## Looping over strings

-  Can loop over lists, can loop over ranges, can loop over any list-like object
-  This includes strings

In [8]:
s="abcdefg"

for letter in s:
    print(letter)

a
b
c
d
e
f
g

Can also use range(len(s)):

In [9]:
for i in range(len(s)):
    print(s[i])

a
b
c
d
e
f
g

Fun example: Print each word of a sentence on its own line

In [10]:
s="If you can dodge a wrench, you can dodge a ball "
for word in s.split():
    print(word)

If
you
can
dodge
a
wrench,
you
can
dodge
a
ball

__Danger:__ Indexing variables have global scope

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
i

9

Challenge:  What is the output of this code???

In [14]:
for i in range(10):
    print(i)
    i=i*2
    print(i)

print(i)

0
0
1
2
2
4
3
6
4
8
5
10
6
12
7
14
8
16
9
18
18

### Creating Lists with For Loops 

Example Problem: Make a list of the first 10 squares, 1,4,9,...,100

In [15]:
#Solution 1 - make an empty list, and add items on at a time using for loops

#empty list
squares=[]

#add items one at a time
for i in range(1,11):
    squares.append(i*i)
    
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
#Solution 2 - List Comprehensions

squares=[i*i for i in range(1,11)]

squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
#More complicated example: even squares between 1 and 400
even_squares = [i*i for i in range(1,21) if i%2==0]
even_squares

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [19]:
#Double indexing - All products i*j with i in {1,2,3} j in {4,5,6}
products=[i*j for i in [1,2,3] for j in [4,5,6]]
products

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [21]:
#Double indexing 2 - return a list of lists
products2=[[i*j for j in [4,5,6] for i in [1,2,3]]]

In [22]:
products2

[[4, 8, 12, 5, 10, 15, 6, 12, 18]]