# More Iterable Objects

We have already seen that we can loop over lists, ranges, and strings. In the next two videos we will introduce more iterable objects, tuples, sets, and dicts. We will also review list sorting

__Tuples__

Tuples are similar to lists, but are immutable

In [2]:
T=(0,1,2,3)
for i in T:
    print(i)
    
print(T[2])

0
1
2
3
2

Recall: with lists the following is allowed

In [3]:
L=[0,1,2,3]
L[1]=11
L

[0, 11, 2, 3]

However, the following code, which is nearly identical, is not allowed

In [4]:
T=(0,1,2,3)
T[1]=11
T

TypeError: 'tuple' object does not support item assignment

Otherwise, Tuples are very similar to lists

The rigid structure has some advantages. For example, you can zip tuples

In [6]:
letters=('a','b','c')
numbers=(1,2,3)
pairs=zip(numbers,letters)
pairs

Access pairs by turning it into tuples

In [7]:
list(pairs)

[(1, 'a'), (2, 'b'), (3, 'c')]

You can zip multiple tuples at once

In [10]:
letters=('a','b','c')
numbers=(1,2,3)
roman_numerals=("i","ii","iii")
pairs=zip(numbers,letters,roman_numerals)
list(pairs)

[(1, 'a', 'i'), (2, 'b', 'ii'), (3, 'c', 'iii')]

# Sets

For sets, use braces rather than brackets

In [12]:
my_set={1,2,3,4}
print(my_set)
type(my_set)

{1, 2, 3, 4}

set

In [13]:
for s in my_set:
    print(s)

1
2
3
4

Items are either in set or they are not. You can't be in a set twice

In [16]:
my_set.add(5)
print(my_set)
my_set.add(3)
print(my_set)

my_set.remove(2)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 3, 4, 5}

### Set operations

In [19]:
S={1,2,3}
T={3,4,5}

print(S.union(T)) #all elements in S or T {1,2,3,4,5}
print(S.intersection(T)) #all elements in S and T {3}
print(S.difference(T)) #all elements in S but not T

{1, 2, 3, 4, 5}
{3}
{1, 2}

__Nifty Application__ - Count DISTINCT items in a list

In [22]:
L=[2,3,4,3,4,3,4,5,3,4,5,6,]
S=set(L)
print(S)
len(S)

{2, 3, 4, 5, 6}

5

Sets have no order, so my_set[0] makes no sense

In [23]:
S[0]

TypeError: 'set' object is not subscriptable