# Summarizing Data

In this lecture, we'll discuss how to descriptively *summarize* data. Descriptive data summarization is one of the fundamental processes of exploratory data analysis. The `pandas` package offers us a powerful suite of tools for creating summaries.

In [2]:
#standard imports
import numpy as np
import pandas as pd
#read in data from csv
penguins=pd.read_csv("palmer_penguins.csv")

In this video, let's work with the colums "Species", "Region", "Island", "Culmen Length (mm)", and "Culmen Depth (mm)"

In [3]:
cols=["Species", "Region", "Island", "Culmen Length (mm)", "Culmen Depth (mm)"]
penguins=penguins[cols]
penguins.head()

,Species,Region,Island,Culmen Length (mm),Culmen Depth (mm)
0,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.1,18.7
1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,39.5,17.4
2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,40.3,18.0
3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,NaN,NaN
4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,36.7,19.3

Shorten Species names

In [9]:
penguins["Species"]=penguins["Species"].str.split().str.get(0)       
penguins.head()

  Species  Region     Island  Culmen Length (mm)  Culmen Depth (mm)
0  Adelie  Anvers  Torgersen                39.1               18.7
1  Adelie  Anvers  Torgersen                39.5               17.4
2  Adelie  Anvers  Torgersen                40.3               18.0
3  Adelie  Anvers  Torgersen                 NaN                NaN
4  Adelie  Anvers  Torgersen                36.7               19.3

Shorten names of other columns

In [13]:
penguins["Length"]=penguins["Culmen Length (mm)"]
penguins["Depth"]=penguins["Culmen Depth (mm)"]

penguins=penguins.drop(labels=["Culmen Length (mm)","Culmen Depth (mm)"],axis=1)

penguins.head()

  Species  Region     Island  Length  Depth
0  Adelie  Anvers  Torgersen    39.1   18.7
1  Adelie  Anvers  Torgersen    39.5   17.4
2  Adelie  Anvers  Torgersen    40.3   18.0
3  Adelie  Anvers  Torgersen     NaN    NaN
4  Adelie  Anvers  Torgersen    36.7   19.3

# Simple Aggregation

Because the columns of a data frame behave a lot like numpy arrays, we can use standard methods to compute summary statistics. Here are a few examples.

Let's focus on Length column

In [14]:
x=penguins["Length"]
x

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339     NaN
340    46.8
341    50.4
342    45.2
343    49.9
Name: Length, Length: 344, dtype: float64

In [17]:
#sum
np.sum(x),x.sum()

(15021.3, 15021.3)

Note: nans are ignored by default

In [18]:
#mean and standard deviation
x.mean(), x.std()

(43.92192982456142, 5.459583713926532)

In [21]:
#sum of entries with length > 40
np.sum(x[x>40])

#mask=x>40
#np.sum(x[mask])

11291.899999999998

In [24]:
#of entries with length > 40
np.sum(x>40)

242

It's also possible to aggregate the entire data frame at once, in which case `pandas` will attempt to apply the specified function to each column for which this is possible. When passing a numerical aggregation function, non-numeric columns are ignored.

In [25]:
#count number of entries per column
penguins.count()

Species    344
Region     344
Island     344
Length     342
Depth      342
dtype: int64

In [26]:
#mean of each column
penguins.mean()

Length    43.92193
Depth     17.15117
dtype: float64

In [30]:
#max of each column
penguins.max()

Species       Gentoo
Region        Anvers
Island     Torgersen
Length          59.6
Depth           21.5
dtype: object

It is technically possible to aggregate across columns (rather than rows) in `pandas`; however, doing so usually violates the [*tidy data* principles](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html) and is not recommended. 

We've already seen `describe()`, a convenience function for calculating numerical summary statistics.

In [31]:
penguins.describe()

           Length       Depth
count  342.000000  342.000000
mean    43.921930   17.151170
std      5.459584    1.974793
min     32.100000   13.100000
25%     39.225000   15.600000
50%     44.450000   17.300000
75%     48.500000   18.700000
max     59.600000   21.500000