# Strings

In [10]:
#Strings can be either in single or double quotes
print("Hello")
print('python')

Hello
python

In [12]:
"a"=='a'

True

### Quotes inside of Quotes

In [ ]:
print("THe cow says 'moo'")
print('THe horse says "neigh"'')

Typing \\' or \\" will cause quotes to appear

In [ ]:
s="The cow says \'moo\'."
t='The horse says \'neigh\'.'
print(s,t)

In [8]:
s='Bob said, "Hello, isn\'t it lovely today"'
s

'Bob said, "Hello, isn\'t it lovely today"'

Printing by having things on the last line sometimes displays things differently than print.

Using print usually looks nicer

In [9]:
print(s)

Bob said, "Hello, isn't it lovely today"

## String manipulation

Concatenation DOES work with string literals

In [21]:
s="Dodge " + "Ball"

Unsuprisingly, you can concatenate string variables

In [4]:
s="Dodge "
t="Ball "
s+t

'Dodge Ball '

You can multiply a string by an int

In [5]:
3*s

'Dodge Dodge Dodge '

Adding a string to an int only makes sense if you convert the int to a string first

In [6]:
x=3
s=" Blind Mice"
#x+s   #doesn't work
str(x)+s

'3 Blind Mice'

# Indexing
Strings are indexed from zero

In [22]:
s="abcdefghijklmnopqrstuvwxyz"

In [23]:
print(s[0],s[25])

a z

The index -1 gives you the last element of a string, -2, the second last and so forth

In [24]:
s[-1]

'z'

In [25]:
print(s[-1],s[-2],s[-26])

z y a

## Substrings 

s[a:b] gives you the substring starting at a, going up to (but not including) b

In [26]:
t=s[0:13] 
t

'abcdefghijklm'

In [27]:
len(t)  #Note: Lenght of s[0,13] is 13-0

13

In [28]:
s[13:15] #substring of length 2 starting at position 13

'no'

You can also do substrings with negative indexing

In [29]:
s[-10:-2]

'qrstuvwx'

__Striding__

In [30]:
s[0:13:2]  #indexes start at 0, go up to but don't inlude 13, take every second entry

'acegikm'

In [31]:
s[::2]   #every other entry of the whole string

'acegikmoqsuwy'

In [32]:
s[::4]

'aeimquy'

__Warning:__ Changing individual string entries, e.g. s[0]='z' is NOT allowed

In [33]:
#s[0]='z'

Partial Workaround

In [36]:
s=s.replace('a','z')
s

'zbcdefghijklmnopqrstuvwxyz'